*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  line-height: 1.6;
  color: #9194a1; }

.wrapper {
  max-width: 110rem;
  margin: 4rem auto; }

.contact {
  background-color: #5368df; }
  .contact__form {
    color: #fff;
    max-width: 48rem;
    margin: 0 auto;
    text-align: center; }
    .contact__form__text {
      font-size: 1.2rem;
      text-transform: uppercase;
      letter-spacing: 5px; }
    .contact__form__heading {
      color: inherit;
      margin: 2rem 0 4rem; }
  .contact .form {
    width: 100%;
    display: flex;
    align-items: flex-start; }
    .contact .form__input, .contact .form__btn {
      padding: 1.5rem 2rem; }
    .contact .form__input-wrapper.error {
      padding: 0.5rem;
      background-color: #fa5757;
      transform: translateY(-0.5rem); }
      .contact .form__input-wrapper.error small {
        display: inline-block; }
      .contact .form__input-wrapper.error .form__input {
        background-image: url("../images/icon-error.svg"); }
    .contact .form__input {
      width: 100%;
      display: block;
      border-radius: 6px;
      font-size: 1.4rem;
      line-height: 1;
      font-family: inherit;
      outline: none;
      border: 2px solid transparent;
      background-repeat: no-repeat;
      background-position: center right 2rem; }
      .contact .form__input::placeholder {
        color: #c8c9d0; }
      .contact .form__input-wrapper {
        flex: 1;
        margin-right: 2rem;
        border-radius: 6px;
        text-align: left; }
        .contact .form__input-wrapper small {
          color: inherit;
          display: none;
          padding-left: 2rem;
          font-size: 1rem;
          letter-spacing: 1px;
          font-style: italic; }

.download {
  text-align: center; }
  .download__text {
    width: 50%;
    margin: 2rem auto 6rem auto; }
  .download__items {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 10rem; }
  .download__item {
    padding: 2rem 0;
    border-radius: 15px;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.09); }
    .download__item:not(:last-child) {
      margin-right: 4rem; }
    .download__item--firefox {
      transform: translateY(4rem); }
    .download__item--opera {
      transform: translateY(8rem); }
    .download__item__logo {
      margin-bottom: 1.5rem; }
    .download__item p {
      font-size: 1.4rem;
      margin-bottom: 1.5rem; }
  .download__btn {
    margin-top: 1.5rem; }

.faq {
  text-align: center;
  width: 45%;
  margin: 0 auto; }
  .faq__text {
    margin: 2rem auto 6rem auto; }
  .faq__list__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: #252b46;
    transition: 0.4s; }
    .faq__list__question:hover {
      color: #fa5757; }
    .faq__list__question:after {
      content: url("../images/icon-arrow.svg"); }
    .faq__list__question__active:after {
      content: url("../images/icon-arrow.svg");
      transform: rotate(180deg); }
  .faq__list__answer {
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out; }
  .faq__list__item {
    border-top: 1px solid #e3e4e8;
    padding-top: 2.5rem; }
    .faq__list__item:last-child {
      border-bottom: 1px solid #e3e4e8; }
  .faq__btn {
    margin-top: 4rem; }

.features {
  text-align: center; }
  .features__text {
    width: 50%;
    margin: 0 auto 4rem auto; }
  .features__items {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 60%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto 6rem auto;
    border-bottom: 1px solid #9194a1; }
    .features__items__tab {
      cursor: pointer;
      /*display: inline-block;
      padding: 2rem 4rem;
      background-color: transparent;
      border-bottom: 6px solid whitesmoke;*/ }
      .features__items__tab.active {
        display: inline-block;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 3rem;
        border-bottom: 5px solid #fa5757;
        /*color: $color-primary-red;
        border-color: $color-primary-red;
        border-bottom-width: 4px;*/
        /*&::after{
            content: "";
            position: absolute;
            width: 22rem;
            height: 3px;
            left: 0; 
            bottom: 0;
            border-bottom: 5px solid $color-primary-red;
        }*/ }
      .features__items__tab:hover {
        color: #fa5757; }
  .features__content {
    display: flex; }
    .features__content__img {
      position: relative;
      z-index: 10; }
      .features__content__img::after {
        content: "";
        position: absolute;
        top: 20%;
        right: 40%;
        height: 90%;
        width: 200%;
        background-color: #5368df;
        border-radius: 0 0 120px 0;
        z-index: -1; }
    .features__content__text {
      text-align: left;
      padding-left: 5rem;
      align-self: center; }
      .features__content__text p {
        padding: 2rem 0; }

[data-tab-content] {
  display: none; }

.active[data-tab-content] {
  display: block; }

.footer__navbar {
  background-color: #252b46;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 2rem 8rem; }

.footer__nav {
  display: flex;
  align-items: center;
  list-style: none; }
  .footer__nav__item {
    padding: 0 2rem; }
  .footer__nav__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 3px; }
    .footer__nav__link:hover {
      color: #fa5757; }
  .footer__nav__social {
    display: flex;
    align-items: center; }

.logo {
  fill: white;
  margin-right: 4rem; }

.social {
  fill: white; }
  .social:hover {
    fill: #fa5757; }

.social-link:nth-child(1) {
  margin-right: 2rem; }

.social-link:nth-child(2) {
  margin-right: 6rem; }

.hero {
  display: flex; }
  .hero__container {
    padding: 3rem; }
  .hero__text {
    padding: 2.5rem 0; }
  .hero__btn {
    margin-right: 1rem; }
  .hero__img {
    max-width: 60rem;
    position: relative;
    z-index: 10; }
    .hero__img::after {
      content: "";
      position: absolute;
      top: 25%;
      right: -80%;
      height: 80%;
      width: 150%;
      background-color: #5368df;
      border-radius: 0 0 0 120px;
      z-index: -1; }

.header {
  display: flex; }
  .header .logo {
    margin-right: auto; }

.navbar-nav {
  display: flex;
  align-items: center;
  list-style: none;
  letter-spacing: 2px; }
  .navbar-nav__item {
    padding: 0rem 3rem; }
    .navbar-nav__item .btn {
      text-transform: uppercase;
      letter-spacing: 2px; }
  .navbar-nav__link:link, .navbar-nav__link:visited {
    color: #252b46;
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: uppercase; }
  .navbar-nav__link:hover {
    color: #fa5757; }

.heading-1 {
  color: #252b46;
  font-size: 4rem;
  line-height: 1; }

.heading-2 {
  color: #252b46; }

.heading-3 {
  color: #252b46; }

.btn {
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1.2rem 2.8rem;
  cursor: pointer;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.25);
  transition: all 0.2s; }
  .btn:hover {
    background-color: #fff; }
  .btn--red {
    background-color: #fa5757;
    border: 2px solid #fa5757; }
    .btn--red:hover {
      color: #fa5757; }
  .btn--blue {
    background-color: #5368df;
    border: 2px solid #5368df; }
    .btn--blue:hover {
      color: #5368df; }
  .btn--light {
    background-color: #9194a1;
    border: 2px solid #9194a1;
    filter: brightness(170%);
    color: #252b46; }
    .btn--light:hover {
      color: #252b46;
      border: 2px solid #252b46; }

.padding-sm {
  padding: 2rem 0; }

.padding-md {
  padding: 6rem 0; }

.padding-lg {
  padding: 8rem 0; }

.padding-hg {
  padding: 20rem 0; }
