*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden; }
  @media screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media screen and (max-width: 26.6em) {
    html {
      width: 100%; } }

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  line-height: 1.6;
  color: #9194a1;
  overflow-x: hidden; }
  @media screen and (max-width: 26.6em) {
    body {
      width: 100%; } }

.wrapper {
  max-width: 110rem;
  margin: 4rem auto; }

.contact {
  background-color: #5368df; }
  .contact__form {
    color: #fff;
    max-width: 48rem;
    margin: 0 auto;
    text-align: center; }
    @media screen and (max-width: 26.6em) {
      .contact__form {
        width: 90%; } }
    .contact__form__text {
      font-size: 1.2rem;
      text-transform: uppercase;
      letter-spacing: 5px; }
    .contact__form__heading {
      color: inherit;
      margin: 2rem 0 4rem; }
  .contact .form {
    width: 100%;
    display: flex;
    align-items: flex-start; }
    @media screen and (max-width: 26.6em) {
      .contact .form {
        flex-direction: column; } }
    .contact .form__input, .contact .form__btn {
      padding: 1.5rem 2rem; }
      @media screen and (max-width: 26.6em) {
        .contact .form__input, .contact .form__btn {
          width: 100%; } }
    .contact .form__input-wrapper.error {
      padding: 0.5rem;
      background-color: #fa5757;
      transform: translateY(-0.5rem); }
      .contact .form__input-wrapper.error small {
        display: inline-block; }
      .contact .form__input-wrapper.error .form__input {
        background-image: url("../images/icon-error.svg"); }
    .contact .form__input {
      width: 100%;
      display: block;
      border-radius: 6px;
      font-size: 1.4rem;
      line-height: 1;
      font-family: inherit;
      outline: none;
      border: 2px solid transparent;
      background-repeat: no-repeat;
      background-position: center right 2rem; }
      .contact .form__input::placeholder {
        color: #c8c9d0; }
      .contact .form__input-wrapper {
        flex: 1;
        margin-right: 2rem;
        border-radius: 6px;
        text-align: left; }
        .contact .form__input-wrapper small {
          color: inherit;
          display: none;
          padding-left: 2rem;
          font-size: 1rem;
          letter-spacing: 1px;
          font-style: italic; }
        @media screen and (max-width: 26.6em) {
          .contact .form__input-wrapper {
            width: 100%;
            margin-bottom: 2rem; } }

.download {
  text-align: center; }
  .download__text {
    width: 50%;
    margin: 2rem auto 6rem auto; }
    @media screen and (max-width: 26.6em) {
      .download__text {
        width: 80%; } }
  .download__items {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 10rem; }
    @media screen and (max-width: 56.25em) {
      .download__items {
        flex-direction: column;
        margin: 0 5rem; } }
  .download__item {
    padding: 2rem 0;
    border-radius: 15px;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.09); }
    .download__item:not(:last-child) {
      margin-right: 4rem; }
      @media screen and (max-width: 56.25em) {
        .download__item:not(:last-child) {
          margin-right: 0; } }
    .download__item--firefox {
      transform: translateY(4rem); }
    .download__item--opera {
      transform: translateY(8rem); }
    .download__item__logo {
      margin-bottom: 1.5rem; }
    .download__item p {
      font-size: 1.4rem;
      margin-bottom: 1.5rem; }
    @media screen and (max-width: 26.6em) {
      .download__item__dots {
        width: 90%; } }
  .download__btn {
    margin-top: 1.5rem; }
    @media screen and (max-width: 56.25em) {
      .download__btn {
        display: block;
        margin: 1.5rem auto; } }

.faq {
  text-align: center;
  width: 45%;
  margin: 0 auto; }
  @media screen and (max-width: 26.6em) {
    .faq {
      width: 80%;
      padding: 16rem 0 10rem 0 !important; } }
  .faq__text {
    margin: 2rem auto 6rem auto; }
  .faq__list__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: #252b46;
    transition: 0.4s; }
    .faq__list__question:hover {
      color: #fa5757; }
    .faq__list__question:after {
      content: url("../images/icon-arrow.svg"); }
    .faq__list__question__active:after {
      content: url("../images/icon-arrow.svg");
      transform: rotate(180deg); }
  .faq__list__answer {
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out; }
  .faq__list__item {
    border-top: 1px solid #e3e4e8;
    padding-top: 2.5rem; }
    .faq__list__item:last-child {
      border-bottom: 1px solid #e3e4e8; }
  .faq__btn {
    margin-top: 4rem; }

.features {
  text-align: center; }
  .features__text {
    width: 50%;
    margin: 2rem auto 4rem auto; }
    @media screen and (max-width: 26.6em) {
      .features__text {
        width: 80%; } }
  .features__items {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 60%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto 6rem auto;
    width: fit-content; }
    @media screen and (max-width: 26.6em) {
      .features__items {
        width: 80%;
        display: block; } }
    .features__items__tab {
      cursor: pointer;
      display: inline-block;
      padding: 3rem 4rem;
      font-family: inherit;
      font-size: 1.8rem;
      border: none;
      outline: none;
      color: inherit;
      background-color: transparent;
      border-bottom: 4px solid whitesmoke; }
      .features__items__tab.active {
        color: #fa5757;
        border-color: #fa5757;
        border-bottom-width: 4px; }
      .features__items__tab:hover {
        color: #fa5757; }
      @media screen and (max-width: 26.6em) {
        .features__items__tab {
          border-bottom: 2px solid whitesmoke;
          display: block;
          width: 100%; } }
  .features__content {
    display: flex; }
    @media screen and (max-width: 26.6em) {
      .features__content {
        flex-direction: column; } }
    .features__content__img {
      position: relative;
      flex: 1;
      z-index: 10; }
      @media screen and (max-width: 26.6em) {
        .features__content__img {
          flex: 0;
          max-width: 90%;
          margin: 0 auto; } }
      .features__content__img img {
        width: 100%; }
      .features__content__img::after {
        content: "";
        position: absolute;
        top: 20%;
        right: 40%;
        height: 90%;
        width: 200%;
        background-color: #5368df;
        border-radius: 0 0 120px 0;
        z-index: -1; }
    .features__content__text {
      flex: 1;
      text-align: left;
      padding-left: 5rem;
      align-self: center; }
      @media screen and (max-width: 26.6em) {
        .features__content__text {
          margin-top: 6rem;
          text-align: center;
          padding-left: 0rem;
          width: 80%; } }
      .features__content__text p {
        padding: 2rem 0; }
      .features__content__text .btn {
        display: none; }

[data-tab-content] {
  display: none; }

.active[data-tab-content] {
  display: block; }

.footer__navbar {
  background-color: #252b46;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 2rem 8rem; }
  @media screen and (max-width: 26.6em) {
    .footer__navbar {
      flex-direction: column; } }

.footer__nav {
  display: flex;
  align-items: center;
  list-style: none; }
  @media screen and (max-width: 26.6em) {
    .footer__nav {
      flex-direction: column; } }
  .footer__nav__item {
    padding: 0 2rem; }
    @media screen and (max-width: 26.6em) {
      .footer__nav__item {
        margin: 1rem 0; } }
  .footer__nav__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 3px; }
    .footer__nav__link:hover {
      color: #fa5757; }
  .footer__nav__social {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 26.6em) {
      .footer__nav__social {
        margin-top: 2rem; } }

.logo {
  fill: white;
  margin-right: 4rem; }
  @media screen and (max-width: 26.6em) {
    .logo {
      margin: 2rem 0; } }

.social {
  fill: white; }
  .social:hover {
    fill: #fa5757; }

.social-link:nth-child(1) {
  margin-right: 2rem; }
  @media screen and (max-width: 26.6em) {
    .social-link:nth-child(1) {
      margin-right: 4rem; } }

.social-link:nth-child(2) {
  margin-right: 6rem; }
  @media screen and (max-width: 26.6em) {
    .social-link:nth-child(2) {
      margin-right: 0rem; } }

.hero {
  display: flex; }
  @media screen and (max-width: 26.6em) {
    .hero {
      flex-direction: column;
      align-items: center;
      justify-content: center; } }
  .hero__container {
    padding: 3rem;
    flex: 1; }
    @media screen and (max-width: 26.6em) {
      .hero__container {
        order: 2;
        text-align: center;
        margin-top: 6rem; } }
  .hero__text {
    padding: 2.5rem 0; }
  .hero__btn {
    margin-right: 1rem; }
  .hero__img {
    flex: 1;
    max-width: 60rem;
    position: relative;
    z-index: 2; }
    @media screen and (max-width: 26.6em) {
      .hero__img {
        order: 1;
        text-align: center; } }
    .hero__img img {
      width: 100%; }
    .hero__img::after {
      content: "";
      position: absolute;
      top: 25%;
      right: -80%;
      height: 80%;
      width: 150%;
      background-color: #5368df;
      border-radius: 0 0 0 120px;
      z-index: -1; }

@media screen and (max-width: 75em) {
  .header {
    margin: 0 3rem; } }

@media screen and (max-width: 56.25em) {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    margin: initial; } }

.header .navbar-toggle {
  display: none; }
  @media screen and (max-width: 56.25em) {
    .header .navbar-toggle {
      display: block;
      cursor: pointer;
      position: absolute;
      font-size: 3rem;
      right: 5%;
      top: 40%;
      z-index: 30; }
      .header .navbar-toggle .navbar-close {
        display: none; } }
  @media screen and (max-width: 26.6em) {
    .header .navbar-toggle {
      right: 10%; } }

.header .navbar {
  height: 100%; }
  @media screen and (max-width: 56.25em) {
    .header .navbar {
      position: relative; }
      .header .navbar.open .navbar-close {
        display: block; }
      .header .navbar.open .navbar-hamburger {
        display: none; }
      .header .navbar.open .navbar-nav {
        transform: translateX(0); } }
  .header .navbar .logo-mobile {
    display: none; }
    @media screen and (max-width: 56.25em) {
      .header .navbar .logo-mobile {
        position: absolute;
        top: 50%;
        left: 3%;
        display: block; } }
    @media screen and (max-width: 26.6em) {
      .header .navbar .logo-mobile {
        left: 6%; } }

.header .navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  letter-spacing: 2px;
  height: 100%;
  width: 100%; }
  @media screen and (max-width: 56.25em) {
    .header .navbar-nav {
      position: fixed;
      background-color: #9194a1;
      opacity: 0.97;
      height: 100vh;
      width: 100%;
      padding-top: 2rem;
      flex-direction: column;
      justify-content: flex-start;
      transform: translateX(100rem);
      transition: all 1s;
      z-index: 25; } }
  .header .navbar-nav__logo {
    margin-right: auto; }
    @media screen and (max-width: 56.25em) {
      .header .navbar-nav__logo {
        padding: 2rem 3rem; }
        .header .navbar-nav__logo path,
        .header .navbar-nav__logo circle {
          fill: white; }
        .header .navbar-nav__logo .flag {
          fill: #9194a1; } }
  .header .navbar-nav__item {
    padding: 0rem 3rem; }
    @media screen and (max-width: 56.25em) {
      .header .navbar-nav__item {
        padding: 1.5rem 0;
        width: 80%;
        text-align: center;
        border-top: 1px solid #babcc4; } }
    .header .navbar-nav__item .btn--navbar {
      text-transform: uppercase;
      letter-spacing: 2px; }
      @media screen and (max-width: 56.25em) {
        .header .navbar-nav__item .btn--navbar {
          width: 100%;
          background-color: transparent;
          border-color: white; } }
  .header .navbar-nav__link:link, .header .navbar-nav__link:visited {
    color: #252b46;
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    height: 100%; }
    @media screen and (max-width: 56.25em) {
      .header .navbar-nav__link:link, .header .navbar-nav__link:visited {
        color: white;
        font-size: 1.5rem; } }
  .header .navbar-nav__link:hover {
    color: #fa5757; }

.heading-1 {
  color: #252b46;
  font-size: 4rem;
  line-height: 1; }
  @media screen and (max-width: 26.6em) {
    .heading-1 {
      font-size: 3.5rem; } }

.heading-2 {
  color: #252b46; }
  @media screen and (max-width: 26.6em) {
    .heading-2 {
      font-size: 2.8rem; } }

.heading-3 {
  color: #252b46; }

.btn {
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1.2rem 2.8rem;
  cursor: pointer;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.25);
  transition: all 0.2s; }
  @media screen and (max-width: 26.6em) {
    .btn {
      font-size: 1.6rem;
      padding: 1.8rem 2rem; } }
  .btn:hover {
    background-color: #fff; }
  .btn--red {
    background-color: #fa5757;
    border: 2px solid #fa5757; }
    .btn--red:hover {
      color: #fa5757; }
  .btn--blue {
    background-color: #5368df;
    border: 2px solid #5368df; }
    .btn--blue:hover {
      color: #5368df; }
  .btn--light {
    background-color: #9194a1;
    border: 2px solid #9194a1;
    filter: brightness(170%);
    color: #252b46; }
    .btn--light:hover {
      color: #252b46;
      border: 2px solid #252b46; }

.padding-sm {
  padding: 2rem 0; }

.padding-md {
  padding: 6rem 0; }

.padding-lg {
  padding: 8rem 0; }
  @media screen and (max-width: 26.6em) {
    .padding-lg {
      padding: 6rem 0; } }

.padding-hg {
  padding: 20rem 0; }
