// COLOR VARIABLES

$color-primary-blue: hsl(231, 69%, 60%);
$color-primary-red: hsl(0, 94%, 66%);
$color-neutral-blue: hsl(229, 8%, 60%);
$color-neutral-blue-dark: hsl(229, 31%, 21%);

// MEDIA QUERIES
$mobile: 26.6em; // 0-425px
$tab-port: 56.25em; // 425-900px
$tab-land: 75em; // 900-1200px
$big-desktop: 112.5em; // 1800+px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 0.625
  overflow-x: hidden;
  @media screen and (max-width: $tab-land) {
    font-size: 56.25%;
  }
  @media screen and (max-width: $tab-port) {
    font-size: 50%;
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
  }

}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  line-height: 1.6;
  color: $color-neutral-blue;
  overflow-x: hidden;
  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}

.wrapper {
  max-width: 110rem;
  margin: 4rem auto;
}
