.features {
  text-align: center;

  &__text {
    width: 50%;
    margin: 2rem auto 4rem auto;

    @media screen and (max-width: $mobile){
      width: 80%;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 60%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto 6rem auto;
    width: fit-content;

    @media screen and (max-width: $mobile){
      width: 80%;
      display: block;
    }
    

    &__tab {
      cursor: pointer;
      display: inline-block;
      padding: 3rem 4rem;
      font-family: inherit;
      font-size: 1.8rem;
      border: none;
      outline: none;
      color: inherit;
      background-color: transparent;
      border-bottom: 4px solid whitesmoke;  

      &.active {
        color: $color-primary-red;
        border-color: $color-primary-red;
        border-bottom-width: 4px;
      }

      &:hover {
        color: $color-primary-red;
      }

      @media screen and (max-width: $mobile){
        border-bottom: 2px solid whitesmoke;
        display: block;
        width: 100%;
      }
    }
  }

  &__content {
    display: flex;

    @media screen and (max-width: $mobile){
      flex-direction: column;
    }

    &__img {
      position: relative;
      flex: 1;
      z-index: 10;

      @media screen and (max-width: $mobile){
        flex: 0;
        max-width: 90%;
        margin: 0 auto;
      }

      & img{
        width: 100%;
      }

      &::after {
        content: "";
        position: absolute;
        top: 20%;
        right: 40%;
        height: 90%;
        width: 200%;
        background-color: $color-primary-blue;
        border-radius: 0 0 120px 0;
        z-index: -1;
      }
    }

    &__text {
      flex: 1;
      text-align: left;
      padding-left: 5rem;
      align-self: center;

      @media screen and (max-width: $mobile){
        margin-top: 6rem;
        text-align: center;
        padding-left: 0rem;
        width: 80%;
      }

      p {
        padding: 2rem 0;
      }

      & .btn {
        display: none;
      }
    }
  }
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}
