.header {
  display: flex;

  .logo {
    margin-right: auto;
  }
}

.navbar-nav{
    display: flex;
    align-items: center;
    list-style: none;
    letter-spacing: 2px;

    &__item {
        padding: 0rem 3rem;

        & .btn{
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }

    &__link:link,
    &__link:visited {
        color: $color-neutral-blue-dark;
        font-size: 1.3rem;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__link:hover{
        color: $color-primary-red;
    }
}
