// HEADING

.heading-1 {
  color: $color-neutral-blue-dark;
  font-size: 4rem;
  line-height: 1;

  @media screen and (max-width: $mobile){
    font-size: 3.5rem;
  }
}

.heading-2 {
  color: $color-neutral-blue-dark;

  @media screen and (max-width: $mobile){
    font-size: 2.8rem;
  }
}

.heading-3 {
  color: $color-neutral-blue-dark;
}

// BUTTON

.btn {
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1.2rem 2.8rem;
  cursor: pointer;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.25);
  transition: all 0.2s;

  @media screen and (max-width: $mobile){
    font-size: 1.6rem;
    padding: 1.8rem 2rem;
  }

  &:hover {
    background-color: #fff;
  }

  &--red {
    background-color: $color-primary-red;
    border: 2px solid $color-primary-red;

    &:hover {
      color: $color-primary-red;
    }
  }

  &--blue {
    background-color: $color-primary-blue;
    border: 2px solid $color-primary-blue;

    &:hover {
      color: $color-primary-blue;
    }
  }

  &--light {
    background-color: $color-neutral-blue;
    border: 2px solid $color-neutral-blue;
    filter: brightness(170%);
    color: $color-neutral-blue-dark;

    &:hover {
      color: $color-neutral-blue-dark;
      border: 2px solid $color-neutral-blue-dark;
    }
  }
}

// PADDING

.padding-sm {
  padding: 2rem 0;
}

.padding-md {
  padding: 6rem 0;
}

.padding-lg {
  padding: 8rem 0;

  @media screen and (max-width: $mobile){
    padding: 6rem 0;
  }
}

.padding-hg {
  padding: 20rem 0;
}
